.container {
  right: 0px;
  align-items: center;
  /* box-shadow: 0px 3px 6px #1919191a; */
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 43px;
  position: absolute;
  width: 436px;
  transition: all 0.6s ease-out;
}

.container.focused {
  box-shadow: 0px 3px 6px #1919191a;
}

.topbar {
  transition: all 0.6s ease-out;
}

.topbar.focused {
  position: relative;
  right: 22px;
}

.searchbar {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 3px 6px #1919191a;
  display: flex;
  height: 43px;
  justify-content: space-between;
  margin: 0px 16px;
  width: 237px;
  transition: all 0.4s ease-out;
}

.searchbar.focused {
  width: 321px;
}

.searchbar input,
.searchbar input:focus {
  border: none;
  color: #268aff;
  outline: none;
  margin-left: 20px;
  width: 160px;
  background: white;
}

.searchbar input::placeholder {
  color: #9d9d9d;
  font-size: 13px;
  line-height: 20px;
}

.iconcontainer {
  background: white;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #1919191a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 43px;
  width: 43px;
  transition: background-color ease-out 0.2s;
}

.iconcontainer.searchicon.focused {
  background: #d0d0d0;
}

.iconcontainer.small {
  height: 35px;
  width: 35px;
  display: none;
}

.iconcontainer.small.focused {
  display: flex;
}

.iconcontainer:hover {
  box-shadow: 0px 3px 6px #0a0a0a21;
  transition: all 0.3s ease-in;
}

.suggestioncontainer {
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 3px 6px #1919191a;
  height: 0px;
  left: 10px;
  max-width: 300px;
  overflow: hidden;
  position: absolute;
  top: 44px;
  transition: all 0.4s ease-out;
  width: 0;
  white-space: nowrap;
}

.suggestioncontainer.focused {
  height: 200px;
  width: 100%;
}

.suggestioncontainer .content {
  padding: 20px;
}

.suggestioncontainer .title {
  border-bottom: 1px solid #d0d0d03a;
  color: #d0d0d0;
  font-size: 12px;
  line-height: 22px;
  text-align: end;
  padding-left: 15px;
}
