.container {
  right: 0px;
  align-items: center;
  /* box-shadow: 0px 3px 6px #1919191a; */
  display: flex;
  height: calc(100vh - 43px);
  flex-direction: column;
  padding-top: 43px;
  position: absolute;
  width: 436px;
  transition: all 0.6s ease-out;
}

.container.focused {
  box-shadow: 0px 3px 6px #1919191a;
}

.topbar {
  transition: all 0.6s ease-out;
}

.topbar.focused {
  position: relative;
  right: 22px;
}

.searchbar {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 3px 6px #1919191a;
  display: flex;
  height: 43px;
  justify-content: space-between;
  margin: 0px 16px;
  width: 237px;
  transition: all 0.4s ease-out;
}

.searchbar.focused {
  width: 321px;
}

.searchbar input,
.searchbar input:focus {
  border: none;
  color: #268aff;
  outline: none;
  margin-left: 20px;
  width: 160px;
  background: white;
}

.searchbar input::placeholder {
  color: #9d9d9d;
  font-size: 13px;
  line-height: 20px;
}

.iconcontainer {
  background: white;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #1919191a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 43px;
  width: 43px;
  transition: background-color ease-out 0.2s;
}

.iconcontainer.searchicon.focused {
  background: #d0d0d0;
}

.iconcontainer.small {
  height: 35px;
  width: 35px;
  display: none;
}

.iconcontainer.small.focused {
  display: flex;
}

.iconcontainer:hover {
  box-shadow: 0px 3px 6px #0a0a0a21;
  transition: all 0.3s ease-in;
}

.suggestioncontainer {
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 3px 6px #1919191a;
  font-size: 12px;
  color: #707070;
  height: 0px;
  left: 10px;
  max-width: 300px;
  overflow: hidden;
  position: absolute;
  top: 44px;
  transition: all 0.4s ease-out;
  width: 0;
  white-space: nowrap;
}

.suggestioncontainer.focused {
  /* height: 200px; */
  height: auto;
  width: 100%;
}

.suggestioncontainer .content {
  padding: 20px;
  position: relative;
}

.suggestioncontainer .title {
  border-bottom: 1px solid #d0d0d03a;
  color: #d0d0d0;
  font-size: 12px;
  line-height: 22px;
  text-align: end;
  padding-left: 15px;
}

.suggestioncontainer.typingerror .title {
  color: #ff3439;
}

.suggestioncontainer.typing .title {
  color: #268aff;
}

.suggestioncontainer.typing .content {
  padding-bottom: 150px;
}

.suggestioncontainer .suggestion {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.suggestioncontainer.typingerror .suggestion {
  display: none;
}

.suggestioncontainer.typing .suggestion {
  display: none;
}

.suggestioncontainer .suggestion div:first-child {
  color: #d0d0d0;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.suggestioncontainer .suggestion div:nth-child(2) {
  margin-left: 5px;
  transition: all 0.3s ease-out;
}

.suggestioncontainer .suggestion span {
  color: black;
}

.suggestioncontainer .result {
  color: #191919;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: 24px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.suggestioncontainer .label {
  background-color: #f7f7f7;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  margin-left: 5px;
  padding: 0px 8px;
}

.suggestioncontainer .label span {
  border-radius: 100%;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: white;
  border: 1px solid #dbdbdb;
}

.suggestioncontainer button {
  align-items: center;
  background: #268aff;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 36px;
  justify-content: space-between;
  line-height: 22px;
  outline: none;
  position: absolute;
  right: 18px;
  bottom: 25px;
  padding: 0px 28px;
  width: 116px;
}
